#optionsForm label.smallWidth {
	width: 120px;
	min-width: 120px;
	display: inline-block;
}
#optionsForm input[type="radio"] + label {
	margin-right: 40px;
}

table.filterurls tbody th.check-column, table.filterurl tbody th.check-column  {
	padding: 6px 0 0;
}



table.widefat .column-url {
	width: 30%;
}

table.widefat .column-heatMapData {
	width: 30%;
}

table.widefat .column-action {
	width: 20%;
}
table.widefat .column-count {
	width: 10%;
}


table.widefat .column-width {
	width: 35%;
}

table.widefat .column-zoomLevels {
	width: 65%;
}